<header class="container">

    <a href="http://localhost:3000/" class="logo">LOGO</a>

    <nav >
        <ul>
            <li><a href="http://localhost:3000/">all:</a></li>
            <li><a href="http://localhost:3000/100">1xx:</a></li>
            <li><a href="http://localhost:3000/200">2xx:</a></li>
            <li><a href="http://localhost:3000/300">3xx:</a></li>
            <li><a href="http://localhost:3000/400">4xx:</a></li>
            <li><a href="http://localhost:3000/500">5xx:</a></li>
        </ul>
    </nav>

</header>